<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Buscar Terapias</h4>
</div>
<div class="modal-body">
    <div class="panel panel-default">
        <div class="panel-body" style="padding: 10px">
            <form ng-submit="search()">
                <div class="form-group col-lg-4">
                    <label for="" class="control-label">Terapias <span class="text-danger">*</span></label>
                    <select name="" id="" class="form-control" ng-model="query.therapies" ng-options="therapy.id as therapy.name for therapy in therapies | filter:{$existSchedule: true}" ng-change="filterTherapist(query.therapies)"></select>
                </div>
                <div class="form-group col-lg-4">
                    <label for="">Terapauta <span class="text-danger">*</span></label>
                    <select name="" id="" class="form-control" ng-model="query.therapist" ng-disabled="!query.therapies" ng-options="therapist.therapist_user_id as getTherapist(therapist.therapist_user_id) for therapist in therapists" ng-change="filterDays(query.therapist)"></select>
                </div>
                <div class="form-group col-lg-4">
                    <label for="">Días <span class="text-danger">*</span></label>
                    <select name="" id="" class="form-control" ng-model="query.day" ng-disabled="!query.therapies || !query.therapist" ng-options="daysTherapy.key_day as getDay(daysTherapy.key_day) for daysTherapy in daysTherapy"></select>
                </div>
                <div class="form-group col-lg-12">
                    <button class="btn btn-primary pull-right" ng-click="selectBuildingTherapy()" ng-disabled="!query.therapies || !query.therapist || !query.day"><i class="fa fa-search"></i> Buscar</button>
                </div>
            </form>
        </div>
    </div>
    <!-- IF HAS ERROR -->
    <div class="row" ng-if="existError">
        <div class="alert col-md-12 col-xs-12 col-sm-12 alert-danger" role="alert ">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p>{{model.errors}}</p>
        </div>
    </div>
    <!-- QUERY SHOW -->
    <p ng-if="searching" class="text-center">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        <span class="sr-only">Cargando...</span>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Horario</th>
                <th>Disponibilidad</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="searching">
                <td colspan="3" class="text-center">
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                    <span class="sr-only">Cargando...</span>
                </td>
            </tr>
            <tr ng-if="buildingTherapies.length > 0 || !searching" ng-repeat="(index,buildtherapy ) in buildingTherapies | orderBy:'last_name' ">
                <td>{{index+1}}</td>
                <td>{{getSchedule(buildtherapy.building_therapy_id)}}</td>
                <td>{{buildtherapy.avalability}}</td>
                <td>
                    <button ng-disabled="buildtherapy.avalability == 0" class="btn btn-default btn-xs" ng-click="selectAndClose(buildtherapy.building_therapy_id)"><i class="fa fa-check"></i></button>
                </td>
            </tr>
            <tr ng-if="buildingTherapies.length == 0">
                <td colspan="4" class="text-center">No se han terapias disponibles</td>
            </tr>
        </tbody>
    </table>
    <div style="clear:both"></div>
</div>
<div class="modal-footer">
</div>