<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Roles</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <uib-tabset active="1">
                    <uib-tab index="0" select="goIndex()">
                        <uib-tab-heading>
                            <a ui-sref="root.role" title="Listado"><h5><b><i class="fa fa-list"></i> Listado</b></h5></a>
                        </uib-tab-heading>
                    </uib-tab>
                    <uib-tab index="1">
                        <uib-tab-heading>
                            <h5><b><i class="fa fa-edit"></i> Editar</b></h5>
                        </uib-tab-heading>
                        <h4 class="text-center" ng-if="loading">
                            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                            <span class="sr-only">Cargando...</span>
                        </h4>
                        <form name="saveForm" ng-if="!loading" ng-validate="validateOptions">
                            <div class="tab-index">
                                <div class="row" ng-if="existError || hasMessage">
                                    <div class="alert col-md-12 col-xs-12 col-sm-12" role="alert" ng-class="'alert-' + (messages.type || 'warning')">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <ul ng-if="messages.details.length > 0">
                                            <li ng-repeat="(key, value) in messages.details">{{value}}</li>
                                        </ul>
                                        <p ng-if="hasMessage">{{messages.title}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 col-sm-2 col-xs-12 form-group" ng-if="!loading">
                                        <label class="control-label">Código <span class="text-danger">*</span></label>
                                        <input ng-disabled="saving" id="code" type="text" class="form-control" name="code" ng-model="model.code" autofocus="">
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-12 form-group" ng-if="!loading">
                                        <label class="control-label">Nombre <span class="text-danger">*</span></label>
                                        <input ng-disabled="saving" id="name" type="text" class="form-control" name="name" ng-model="model.name">
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group" ng-if="!loading">
                                        <label class="control-label">Descripción <span class="text-danger">*</span></label>
                                        <input ng-disabled="saving" id="description" type="text" class="form-control" name="description" ng-model="model.description" autofocus="">
                                    </div>
                                    <div class="form-group col-md-2 col-sm-2 col-xs-12">
                                        <label class="control-label">Predeterminado ?: <span class="text-danger">*</span></label>
                                        <select name="is_default" ng-model="model.is_default" class="form-control" required>
                                            <option value="1">Si</option>
                                            <option value="0" selected>No</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <label for="permisos" id="permisos" class="form-label">Permisos</label>
                                        <uib-tabset active="0">
                                            <uib-tab index="0">
                                                <uib-tab-heading>
                                                    <h5>Menú</h5>
                                                </uib-tab-heading>
                                                <table class="table" ng-repeat="module in modules">
                                                    <thead>
                                                        <tr>
                                                            <th class="col-md-8 col-sm-6 col-xs-12">{{module.name}}</th>
                                                            <th class="text-center col-md-4 col-sm-6 col-xs-12">Permitir?</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="(keyPerm, valuePerm) in module.permissions | filter:filterTypePermissionMenu">
                                                            <td>
                                                                <label for="checkbox_{{valuePerm.code +_+ valuePerm.id + keyPerm}}" class="no-weight">{{valuePerm.name}}</label>
                                                            </td>
                                                            <td colspan="1" class="text-center">
                                                                <div class="checkbox checkbox-primary" style="margin:0px">
                                                                    <input id="checkbox_{{valuePerm.code +_+ valuePerm.id + keyPerm}}" ng-checked="checkPermission(valuePerm.id, valuePerm)" type="checkbox" ng-model="valuePerm.$selected" ng-change="setPermission(valuePerm.id,valuePerm.$selected)">
                                                                    <label for="checkbox_{{valuePerm.code +_+ valuePerm.id + keyPerm}}">
                                                                    </label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </uib-tab>
                                            <uib-tab index="1">
                                                <uib-tab-heading>
                                                    <h5>Opciones</h5>
                                                </uib-tab-heading>
                                                <table class="table" ng-repeat="module in modules" ng-if="module.permissions.length > 0">
                                                    <thead>
                                                        <tr>
                                                            <th class="col-md-8 col-sm-6 col-xs-12">{{module.name}}</th>
                                                            <th class="text-center col-md-4 col-sm-6 col-xs-12">Permitir?</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="(keyPerm, valuePerm) in module.permissions | filter:filterTypePermissionOption">
                                                            <td>
                                                                <label for="checkbox_{{valuePerm.code +_+ valuePerm.id + keyPerm}}" class="no-weight">{{valuePerm.name}}</label>
                                                            </td>
                                                            <td colspan="1" class="text-center">
                                                                <div class="checkbox checkbox-primary" style="margin:0px">
                                                                    <input id="checkbox_{{valuePerm.code +_+ valuePerm.id + keyPerm}}" ng-checked="checkPermission(valuePerm.id, valuePerm)" type="checkbox" ng-model="valuePerm.$selected" ng-change="setPermission(valuePerm.id,valuePerm.$selected)">
                                                                    <label for="checkbox_{{valuePerm.code +_+ valuePerm.id + keyPerm}}">
                                                                    </label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </uib-tab>
                                        </uib-tabset>
                                    </div>
                                </div>
                            </div>
                            <!-- Nav tabs -->
                            <div class="clearfix "></div>
                            <div class="ln_solid " ng-if="!loading "></div>
                            <div class="form-group " ng-if="!loading ">
                                <button type="submit" class="btn btn-primary" ng-disabled="saving" ng-click="save(saveForm)">
                                    <span ng-if="!saving"><i class="fa fa-save"></i> Guardar</span>
                                    <span ng-if="saving"> <i class="fa fa-spinner fa-spin" ng-if="saving"></i> Guardando...</span>
                                </button>
                                <button type="submit" class="btn btn-default" ng-disabled="saving" ng-click="saveAndClose(saveForm)">
                                    <span ng-if="!saving"><i class="fa fa-save"></i> Guardar y cerrar</span>
                                    <span ng-if="saving"> <i class="fa fa-spinner fa-spin" ng-if="saving"></i> Guardando...</span>
                                </button>
                                <a class="btn btn-link" ui-sref="root.role">Cancelar</a>
                            </div>
                        </form>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>