<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Fichas de Inscripción de Usuarios</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <h4 class="text-center" ng-if="loading">
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                    <span class="sr-only">Cargando...</span>
                </h4>
                <uib-tabset active="0" ng-if="!loading">
                    <uib-tab index="0">
                        <uib-tab-heading>
                            <h5><b><i class="fa fa-list"></i> Listado</b></h5>
                        </uib-tab-heading>
                        <div class="tab-index">
                            <div class="row" ng-if="existError || hasMessage">
                                <div class="alert col-md-12 col-xs-12 col-sm-12" inscription="alert" ng-class="'alert-' + (messages.type || 'warning')">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <ul ng-if="messages.details.length > 0">
                                        <li ng-repeat="(key, value) in messages.details">{{value}}</li>
                                    </ul>
                                    <p ng-if="hasMessage">{{messages.title}}</p>
                                </div>
                            </div>
                            
                            <div class="col-md-4 col-sm-6 col-xs-12 pull-right">
                                <form name="form" ng-submit="find()" class="form-inline">
                                    <div class="form-group">
                                        <input type="text" name="find" class="form-control" placeholder="Buscar nombre o cédula" ng-model="options.query">
                                    </div>
                                    <button ng-disabled="loading" type="submit" class="btn btn-primary no-margin-bottom"><i ng-if="!loading" class="fa fa-search"></i> <span ng-if="!loading">Buscar</span> <i class="fa fa-spinner fa-spin" ng-if="loading"></i> </button>
                                </form>
                            </div>    
                            
                            <table id="inscription-list" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Usuario</th>
                                        <th>Representante</th>
                                        <th>F. Creación/Modificación</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="inscription in inscriptions track by $index">
                                        <td><a ui-sref="root.inscription.show({pInsId:inscription.id})" title="ver {{inscription.last_name}} {{inscription.name}}">{{inscription.last_name}} {{inscription.name}} </a></td>
                                        <td> {{inscription.representant ? inscription.representant.last_name +' ' +  inscription.representant.name : "-"}}</td>
                                        <td>{{inscription.created_at | filterTimestamp }} - {{inscription.updated_at | filterTimestamp }}</td>
                                        <td>

                                            <div class="btn-group"  role="group" ng-hide="inscription.$deleting">
                                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-cog"></i> Opciones
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li ng-if="hasPermission('ver_ficha_inscripcion')">
                                                        <a title="Ver Usuario {{inscription.name}} {{inscription.last_name}}" alt="Ver Usuario {{inscription.name}} {{inscription.last_name}}"  ui-sref="root.inscription.show({pInsId:inscription.id})"> <i class="fa fa-eye"></i> Ver</a>
                                                    </li>
                                                    <li ng-if="hasPermission('editar_ficha_inscripcion')">
                                                        <a title="Editar Usuario {{inscription.name}} {{inscription.last_name}}" alt="Editar Usuario {{inscription.name}} {{inscription.last_name}}"  ui-sref="root.inscription.edit({pInsId:inscription.id})" permission permission-only="['admin','dirTerapia']"> <i class="fa fa-pencil"></i> Editar</a>
                                                    </li>
                                                    <li ng-if="hasPermission('descargar_ficha_inscripcion')">
                                                        <a title="Imprimir Usuario {{inscription.name}} {{inscription.last_name}}" alt="Imprimir Usuario {{inscription.name}} {{inscription.last_name}}"   ng-click="print(inscription.id)"> <i class="fa fa-file-pdf-o" ></i> Imprimir</a>
                                                    </li>
                                                    <li ng-if="hasPermission('eliminar_ficha_inscripcion')">
                                                        <a title="Eliminar Usuario {{inscription.name}} {{inscription.last_name}}" alt="Eliminar Usuario {{inscription.name}} {{inscription.last_name}}"  ng-click="delete(inscription.id)"> <i class="fa fa-trash" aria-hidden="true"></i> Eliminar</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <p ng-show="inscription.$deleting"><i class="fa fa-spinner fa-spin fa-fw"></i></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-md-12 col-xs-12 text-right" ng-if="!hidePaginator">
                                <ul boundary-links="true" boundary-link-numbers="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" class="pagination-sm" uib-pagination max-size="maxSize" total-items="totalItems" ng-model="currentPage" ng-change="changePage(currentPage)"></ul>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" ng-if="hasPermission('crear_ficha_inscripcion')" select="goCreate()">
                        <uib-tab-heading>
                            <a ui-sref="root.inscription.create()"  title="Crear Ficha de Inscripción"><h5><b><i class="fa fa-plus"></i> Crear</b></h5></a>
                        </uib-tab-heading>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>