<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Permisos</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <h4 class="text-center" ng-if="loading">
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                    <span class="sr-only">Cargando...</span>
                </h4>
                <uib-tabset active="0" ng-if="!loading">
                    <uib-tab index="0">
                        <uib-tab-heading><h5><b>PERMISOS</b></h5></uib-tab-heading>
                        <div class="tab-index">
                            <uib-tabset active="0">
                                <uib-tab index="0">
                                    <uib-tab-heading>
                                        <h5><b><i class="fa fa-list"></i> Listado</b></h5>
                                    </uib-tab-heading>
                                    <div class="tab-index">
                                        <div class="row" ng-if="existError || hasMessage">
                                            <div class="alert col-md-12 col-xs-12 col-sm-12" role="alert" ng-class="'alert-' + (messages.type || 'warning')">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <ul ng-if="messages.details.length > 0">
                                                    <li ng-repeat="(key, value) in messages.details">{{value}}</li>
                                                </ul>
                                                <p ng-if="hasMessage">{{messages.title}}</p>
                                            </div>
                                        </div>
                                        <table datatable="ng" dt-options="dtOptions" id="permission-list" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Nombre</th>
                                                    <th>El. Padre</th>
                                                    <th>Módulo</th>
                                                    <th>Tipo</th>
                                                    <th>F. Creación/Modificación</th>
                                                    <th>Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="permission in permissions">
                                                    <td>{{permission.name | capitalize:'oneLetter'}}</td>
                                                    <td>{{permission.parent.name}}</td>
                                                    <td>{{permission.module.name}}</td>
                                                    <td>{{permission.type.name}}</td>
                                                    <td>{{permission.created_at | filterTimestamp }} - {{permission.updated_at | filterTimestamp }}</td>
                                                    <td>
                                                        <a ng-hide="permission.$deleting" ui-sref="root.permission.edit({permissionId:permission.id})" class="btn btn-default btn-sm" type="button"> <i class="fa fa-pencil"></i> Editar</a>
                                                        <a ng-hide="permission.$deleting" ng-click="delete(permission.id)" class="btn btn-link btn-sm" type="button"> <i class="fa fa-trash" aria-hidden="true"></i> Eliminar</a>
                                                        <p ng-show="permission.$deleting"><i class="fa fa-spinner fa-spin fa-fw"></i></p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </uib-tab>
                                <uib-tab index="1">
                                    <uib-tab-heading>
                                        <a ui-sref="root.permission.create" title="Crear Usuario"><h5><b><i class="fa fa-plus"></i> Crear</b></h5></a>
                                    </uib-tab-heading>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </uib-tab>
                    <uib-tab index="0">
                        <uib-tab-heading><h5><a ui-sref="root.tpermission"><b>TIPOS</b></h5></a></uib-tab-heading>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>