<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Valoración Física - Ortopédica</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <uib-tabset active="1">
                    <uib-tab index="0" ng-click="goIndex()">
                        <uib-tab-heading>
                            <a ui-sref="root.physicalAssessment" title="Listado">
                                <h5><b><i class="fa fa-list"></i> Listado</b></h5>
                            </a>
                        </uib-tab-heading>
                    </uib-tab>
                    <uib-tab index="1">
                        <uib-tab-heading>
                            <h5 ng-if="!isEdit"><b><i class="fa fa-plus"></i> Crear</b></h5>
                            <h5 ng-if="isEdit"><b><i class="fa fa-edit"></i> Editar</b></h5>
                        </uib-tab-heading>
                        <h4 class="text-center" ng-if="loading">
                            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                            <span class="sr-only">Cargando...</span>
                        </h4>
                        <form name="saveForm" ng-if="!loading" ng-validate="validateOptions">
                            <div class="tab-index">
                                <div class="row" ng-if="existError || hasMessage">
                                    <div class="alert col-md-12 col-xs-12 col-sm-12" role="alert" ng-class="'alert-' + (messages.type || 'warning')">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                        <p ng-if="hasMessage">{{messages.title}}</p>
                                        <ul ng-if="messages.details.length">
                                            <li ng-repeat="ms in messages.details">{{ms}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div ng-if="!isEdit" class="col-md-3 col-md-offset-4 col-xs-12">
                                        <button type="button" ng-click="openModalSearchUser()" class="btn btn-primary btn-block"><i
                                                class="fa fa-search"></i> Buscar Usuario</button>
                                    </div>
                                </div>

                                <!-- DATOS PERSONALES -->
                                <div class="row">
                                    <div class="col-md-4 col-xs-12 form-group">
                                        <label for="name" class="control-label">Nombre del Usuario</label>
                                        <input type="text" name="name" ng-model="model.patientUser.name" id="username" class="form-control" readonly>
                                    </div>
                                    <div class="col-md-2 col-xs-5 form-group">
                                        <label for="date_birth" class="control-label">Fecha de Nacimiento</label>
                                        <input type="text" name="date_birth" ng-model="model.patientUser.date_birth" id="date_birth" class="form-control" readonly>
                                    </div>
                                    <div class="col-md-6 col-xs-7 form-group">
                                        <label for="diagnostic" class="control-label">Diagnóstico</label>
                                        <input type="text" name="diagnostic" ng-model="model.patientUser.diagnostic" id="diagnostic" class="form-control" readonly>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2 col-xs-6 form-group">
                                        <label for="date_created_at" class="control-label">Fecha de Evaluación</label>
                                        <input type="text" class="form-control" name="date_created_at" id="date_created_at" ng-model="model.date_created_at" readonly>
                                    </div>
                                    <div class="col-md-2 col-xs-6 form-group">
                                        <label for="hour_created_at" class="control-label">Hora de Evaluación</label>
                                        <input type="text" class="form-control" name="hour_created_at" id="date_created_at" ng-model="model.hour_created_at" readonly>
                                    </div>
                                    <div class="col-md-3 col-xs-12 form-group">
                                        <label for="user_created_id" class="control-label">Profesional Responsable</label>
                                        <input type="text" class="form-control" name="user_created_id" id="user_created_id" ng-model="model.creator" readonly>
                                    </div>
                                </div>

                                <!-- POSTURA -->
                                <div class="row">
                                    <div class="col-md-12 col-md-12 form-group text-left">
                                        <label for="" class="control-label col-md-12 col-md-12">POSTURA <span class="text-danger">*</span></label>
                                        <div class="checkbox col-md-4">
                                            <label for="session">
                                                <input type="checkbox" model="model.position.session" name="position[]" id="session">
                                                Sedente
                                            </label>
                                        </div>
                                        <div class="checkbox col-md-4" style="margin-top:10px">
                                            <label for="bipedestation">
                                                <input type="checkbox" model="model.position.bipedestation" name="position[]"
                                                    id="bipedestation"> Bipedestación
                                            </label>
                                        </div>
                                        <div class="checkbox col-md-4" style="margin-top:10px">
                                            <label for="decubito">
                                                <input type="checkbox" model="model.position.decubito" name="position[]"
                                                    id="decubito"> Decubito
                                            </label>
                                        </div>
                                        <label for="position.others">Otros</label>
                                        <textarea name="position[]" id="model.position.others" class="form-control no-resize"
                                            ng-model="model.position.others"></textarea>
                                    </div>
                                </div>
                                <!-- TONO MUSCULAR -->
                                <div class="row">
                                    <div class="col-md-12 col-md-12 form-group text-left">
                                        <label for="" class="control-label col-md-12 col-md-12">TONO MUSCULAR <span
                                                class="text-danger">*</span></label>
                                        <div class="checkbox col-md-6">
                                            <label for="hipotonic">
                                                <input type="checkbox" model="model.muscular_tone.hipotonic" name="muscular_tone[]"
                                                    id="hipotonic"> Hipotónico
                                            </label>
                                        </div>
                                        <div class="checkbox col-md-6" style="margin-top:10px">
                                            <label for="hipertonic">
                                                <input type="checkbox" model="model.muscular_tone.hipertonic" name="muscular_tone[]"
                                                    id="hipertonic"> Hipertónico
                                            </label>
                                        </div>
                                        <label for="position.others">Otros</label>
                                        <textarea name="muscular_tone[]" id="muscular_tone_others" class="form-control no-resize"
                                            ng-model="model.muscular_tone.others"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="">Control Cefálico <span class="text text-danger">*</span></label>
                                        <div class="radio">
                                            <label for="cephalic_control_yes">
                                                <input type="radio" name="cephalic_control" ng-model="model.cephalic_control" id="cephalic_control_yes"
                                                    value="1"> Si
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label for="cephalic_control_no">
                                                <input type="radio" name="cephalic_control" ng-model="model.cephalic_control" id="cephalic_control_no"
                                                    value="0"> No
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="">Columna <span class="text text-danger">*</span></label>
                                        <div class="checkbox">
                                            <label for="column_normal">
                                                <input type="checkbox" ng-model="model.column.normal" name="column[]" id="column_normal">
                                                Normal
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label for="column_escoliosis">
                                                <input type="checkbox" ng-model="model.column.escoliosis" name="column[]" id="column_escoliosis">
                                                Escoliosis
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label for="column_lordosis">
                                                <input type="checkbox" ng-model="model.column.lordosis" name="column[]" id="column_lordosis">
                                                Lordosis
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label for="column_xifosis">
                                                <input type="checkbox" ng-model="model.column.xifosis" name="column[]" id="column_xifosis">
                                                Xifosis
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <label for="">Tono Muscular <span class="text text-danger">*</span></label>
                                        <div class="checkbox">
                                            <label for="muscular_tone_hipotonic">
                                                <input type="checkbox" ng-model="model.muscular_tone.hipotonic" id="muscular_tone_hipotonic" name="muscular_tone_down[]">
                                                Hipotónico
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label for="muscular_tone_hipertonic">
                                                <input type="checkbox" ng-model="model.muscular_tone.hipertonic" id="muscular_tone_hipertonic" name="muscular_tone_down[]">
                                                Hipertónico
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label for="muscular_tone_normal">
                                                <input type="checkbox" ng-model="model.muscular_tone.normal" id="muscular_tone_normal" name="muscular_tone_down[]">
                                                Normal
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label for="superior_members_observation">Miembros Superiores</label>
                                        <textarea name="superior_members_observation" id="superior_members_observation" ng-model="model.superior_members_observation" class="form-control no-resize"></textarea>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="lower_members_observation">Miembros Inferiores</label>
                                        <textarea name="lower_members_observation" id="lower_members_observation" ng-model="model.lower_members_observation" class="form-control no-resize"></textarea>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="march">Marcha</label>
                                        <textarea name="march" id="march" ng-model="model.march" class="form-control no-resize"></textarea>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="observation">Observación</label>
                                        <textarea name="observation" id="observation" ng-model="model.observation" class="form-control no-resize"></textarea>
                                    </div>
                                </div>
                                <div class="row" ng-if="existError || hasMessage">
                                    <div class="alert col-md-12 col-xs-12 col-sm-12" role="alert" ng-class="'alert-' + (messages.type || 'warning')">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                        <p ng-if="hasMessage">{{messages.title}}</p>
                                        <ul ng-if="messages.details.length">
                                            <li ng-repeat="ms in messages.details">{{ms}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Nav tabs -->
                            <div class="clearfix "></div>
                            <div class="ln_solid " ng-if="!loading "></div>
                            <div class="form-group " ng-if="!loading ">
                                <button type="submit" class="btn btn-primary" ng-disabled=" saving || !existPatientUserSelected"
                                    ng-click="save(saveForm)">
                                    <span ng-if="!saving"><i class="fa fa-save"></i> Guardar</span>
                                    <span ng-if="saving"> <i class="fa fa-spinner fa-spin" ng-if="saving"></i>
                                        Guardando...</span>
                                </button>
                                <button type="submit" class="btn btn-default" ng-disabled=" saving || !existPatientUserSelected"
                                    ng-click="saveAndClose(saveForm)">
                                    <span ng-if="!saving"><i class="fa fa-save"></i> Guardar y cerrar</span>
                                    <span ng-if="saving"> <i class="fa fa-spinner fa-spin" ng-if="saving"></i>
                                        Guardando...</span>
                                </button>
                                <a class="btn btn-link" ui-sref="root.physicalAssessment">Cancelar</a>
                            </div>
                        </form>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>