<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Entrevista Psicológica</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <uib-tabset active="1">
                    <uib-tab index="0" ng-click="goIndex()">
                        <uib-tab-heading>
                            <a ui-sref="root.psychoAssessment" title="Listado"><h5><b><i class="fa fa-list"></i> Listado</b></h5></a>
                        </uib-tab-heading>
                    </uib-tab>
                    <uib-tab index="1">
                        <uib-tab-heading>
                            <h5 ng-if="!isEdit"><b><i class="fa fa-plus"></i> Crear</b></h5>
                            <h5 ng-if="isEdit"><b><i class="fa fa-edit"></i> Editar</b></h5>
                        </uib-tab-heading>
                        <h4 class="text-center" ng-if="loading">
                            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                            <span class="sr-only">Cargando...</span>
                        </h4>
                        <form name="saveForm" ng-if="!loading" ng-validate="validateOptions">
                            <div class="tab-index">
                                <div class="row" ng-if="existError || hasMessage">
                                    <div class="alert col-md-12 col-xs-12 col-sm-12" role="alert" ng-class="'alert-' + (messages.type || 'warning')">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <p ng-if="hasMessage">{{messages.title}}</p>
                                        <ul ng-if="messages.details.length">
                                            <li ng-repeat="ms in messages.details">{{ms}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div ng-if="!isEdit" class="col-md-3 col-md-offset-4 col-xs-12">
                                        <button type="button" ng-click="openModalSearchUser()" class="btn btn-primary btn-block"><i class="fa fa-search"></i> Buscar Usuario</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <uib-tabset active="0">
                                        <!-- DATOS GENERAL -->
                                        <uib-tab index="0">
                                            <uib-tab-heading>
                                                <h5 title="Datos del Usuario"><b>D. Generales</b></h5>
                                            </uib-tab-heading>
                                            <div class="tab-index">
                                                <p class="section-inner">Datos de Usuario</p>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 col-xs-12 form-group">
                                                        <label for="date_eval" title="Fecha de evaluación" class="control-label">Fecha de evaluación <span class="text-danger">*</span></label>
                                                        <input ng-if="!isEdit" ng-disabled="saving || !existPatientUserSelected" id="date_eval" type="date" class="form-control max-date-today" name="date_eval" ng-model="model.date_eval" style="padding-left: 2px; padding-right: 0px">
                                                        <input ng-if="isEdit" disabled id="date_eval" type="text" class="form-control max-date-today" name="date_eval" ng-model="model.date_eval" style="padding-left: 2px; padding-right: 0px">
                                                    </div>
                                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group" ng-if="!loading">
                                                        <label class="control-label" for="name" title="Nombres del Usuario">Nombres</label>
                                                        <input readonly ng-disabled="saving  || !existPatientUserSelected" id="name" type="text" class="form-control" ng-model="model.patientUser.name" name="name">
                                                    </div>
                                                    <div class="col-md-3 col-sm-3 col-xs-12 form-group" ng-if="!loading">
                                                        <label class="control-label" for="name" title="Nombres del Usuario">Como lo llaman en casa <span class="text-danger">*</span></label>
                                                        <input ng-disabled="saving  || !existPatientUserSelected" id="call_user_in_home" type="text" class="form-control" name="call_user_in_home" ng-model="model.call_user_in_home">
                                                    </div>
                                                    <div class="col-md-1 col-sm-1 col-xs-12 form-group" ng-if="!loading">
                                                        <label class="control-label" title="Edad del Usuario" for="age">Edad <span class="text-danger">*</span></label>
                                                        <input ng-disabled="saving || !existPatientUserSelected" maxlength="2" minlength="1" id="age" type="text" class="form-control" name="age" ng-model="model.patientUser.age">
                                                    </div>
                                                    <div class="col-md-2 col-sm-2 col-xs-12 form-group" ng-if="!loading">
                                                        <label class="control-label" title="Fecha de Nacimiento" for="date_both">Fecha de Nacimiento</label>
                                                        <input readonly ng-disabled="saving  || !existPatientUserSelected" id="date_birth" type="text" class="form-control" name="date_birth" ng-model="model.patientUser.date_birth">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 col-xs-12 form-group" ng-if="!loading">
                                                        <label class="control-label" for="genre" title="Género del Usuario">Género</label>
                                                        <input disabled id="genre" type="text" class="form-control" name="genre" ng-model="model.patientUser.genre">
                                                    </div>
                                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group" ng-if="!loading">
                                                        <label class="control-label" for="schooling" title="Escolarización del Usuario">Escolaridad</label>
                                                        <input readonly type="text" class="form-control" name="" ng-disabled=" saving || !existPatientUserSelected" ng-model="model.patientUser.schooling">
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group" ng-if="!loading">
                                                        <label class="control-label" title="Lugar de Nacimiento" for="place_both">Lugar de Nacimiento</label>
                                                        <input readonly ng-disabled="saving  || !existPatientUserSelected" id="place_both" type="text" class="form-control" name="place_both" ng-model="model.patientUser.place_birth">
                                                    </div>
                                                    <div class="col-md-7 col-sm-7 col-xs-12 form-group" ng-if="!loading">
                                                        <label class="control-label" for="address" title="Dirección domiciliaria">Dirección Domiciliaria</label>
                                                        <input readonly id="address" type="text" class="form-control" name="address" ng-model="model.patientUser.address">
                                                    </div>
                                                    <div class="col-md-5 col-sm-5 col-xs-12 form-group" ng-if="!loading">
                                                        <label class="control-label" for="address" title="Diagnóstico del Usuario">Diagnóstico <small>(si ha sido otorgado por alguna Institución o Profesional)</small> </label>
                                                        <input readonly ng-disabled="saving || !existPatientUserSelected" type="text" name="address" id="address" class="form-control" ng-model="model.patientUser.diagnostic">
                                                    </div>
                                                </div>
                                                <!-- ANTECEDENTES FAMILIARES -->
                                                <p class="section-inner">Ant. Familiares</p>
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group" ng-if="!loading">
                                                        <label for="father_num_identification" title="Cedula de la Madre del Usuario" class="control-label">Nombre de la Madre</label>
                                                        <input ng-disabled="saving || !existPatientUserSelected || model.patientUser.mother" id="mother_name" type="text" class="form-control" name="mother_name" ng-model="model.mother_name">
                                                    </div>
                                                    <div class="col-md-1 col-sm-1 col-xs-12 form-group ng-scope" ng-if="!loading">
                                                        <label class="control-label" title="Edad de la madre del Usuario" for="father_age">Edad</label>
                                                        <input ng-disabled=" saving || !existPatientUserSelected " maxlength="2" minlength="1" id="mother_age" type="text" class="form-control" name="mother_age" ng-model="model.mother_age">
                                                    </div>
                                                    <div class="col-md-3 col-sm-3 col-xs-12 form-group ng-scope" ng-if="!loading">
                                                        <label class="control-label" title="Estado civil de la madre del usuario" for="mother_status_civil_id">Estado Civil</label>
                                                        <select ng-disabled="saving || !existPatientUserSelected" class="form-control" name="mother_status_civil_id" id="mother_status_civil_id" ng-model="model.mother_state_civil_id" ng-options="sc.id as sc.value for sc in statusCivil">
                                                        </select>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group ng-scope" ng-if="!loading">
                                                        <label class="control-label" title="Escolaridad de la Madre del usuario" for="mother_schooling">Escolaridad</label>
                                                        <select ng-disabled="saving || !existPatientUserSelected" class="form-control" name="mother_schooling" id="mother_schooling" ng-model="model.mother_schooling" ng-options="sc.id as sc.value for sc in schoolingParents">
                                                        </select>
                                                    </div>
                                                </div>
                                                <!-- Father -->
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group" ng-if="!loading">
                                                        <label for="father_num_identification" title="Nombre del Padre del Usuario" class="control-label">Nombre del Padre</label>
                                                        <input ng-disabled=" saving || !existPatientUserSelected" id="father_name" type="text" class="form-control" name="father_name" ng-model="model.father_name">
                                                    </div>
                                                    <div class="col-md-1 col-sm-1 col-xs-12 form-group ng-scope" ng-if="!loading">
                                                        <label class="control-label" title="Edad del Padre Usuario" for="father_age">Edad</label>
                                                        <input ng-disabled="saving || !existPatientUserSelected" maxlength="2" minlength="1" id="father_age" type="text" class="form-control" name="father_age" ng-model="model.father_age">
                                                    </div>
                                                    <div class="col-md-3 col-sm-3 col-xs-12 form-group ng-scope" ng-if="!loading">
                                                        <label class="control-label" title="Estado Civil del Padre del usuario" for="father_status_civil">Estado Civil</label>
                                                        <select ng-disabled="saving || !existPatientUserSelected" class="form-control" name="father_status_civil" id="father_status_civil" ng-model="model.father_state_civil_id" ng-options="sc.id as sc.value for sc in statusCivil">
                                                        </select>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group ng-scope" ng-if="!loading">
                                                        <label class="control-label" title="Escolaridad del Padre del usuario" for="father_schooling">Escolaridad</label>
                                                        <select ng-disabled="saving || !existPatientUserSelected" class="form-control" name="father_schooling" id="father_schooling" ng-model="model.father_schooling" ng-options="sc.id as sc.value for sc in schoolingParents">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 col-xs-12 col-sm-12 form-group">
                                                        <label class="control-label" title="Descripción o Observación">Observación</label>
                                                        <textarea class="form-control no-resize" name="family_history_observation" ng-model="model.family_history_observation" id="family_history_observation" ng-disabled="saving || !existPatientUserSelected" ng-disabled="loading"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </uib-tab>
                                        <uib-tab index="1" ng-if="existPatientUserSelected">
                                            <uib-tab-heading>
                                                <h5 title="Datos del Usuario"><b>Motivos</b></h5>
                                            </uib-tab-heading>
                                            <div class="tab-index">
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                                        <label class="control-label" title="Motivo de Consulta" for="father_age">Motivo de Consulta <span class="text-danger">*</span></label>
                                                        <textarea name="reason_consultation" id="reason_consultation" ng-model="model.reason_consultation" class="form-control no-resize" rows="3"></textarea>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                                        <label class="control-label" title="Antecendentes de la consulta" for="background">Antecedentes <span class="text-danger">*</span></label>
                                                        <textarea name="background" id="background" ng-model="model.background" class="form-control no-resize" rows="3"></textarea>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                                        <label class="control-label" title="Situación Actual" for="current_situation">Situación Actual <span class="text-danger">*</span></label>
                                                        <input type="text" name="current_situation" class="form-control" ng-model="model.current_situation">
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                                        <label class="control-label" title="Descripción del Beneficiario" for="description_beneficiary">Descripción del Beneficiario <span class="text-danger">*</span></label>
                                                        <input type="text" name="description_beneficiary" class="form-control" ng-model="model.description_beneficiary">
                                                    </div>
                                                </div>
                                            </div>
                                        </uib-tab>
                                        <uib-tab index="2" ng-if="existPatientUserSelected">
                                            <uib-tab-heading>
                                                <h5 title="Niveles"><b>Niveles</b></h5>
                                            </uib-tab-heading>
                                            <div class="tab-index">
                                                <div class="row">
                                                    <div class="col-md-4 col-xs-12">
                                                        <p class="section-inner">Nivel Afectivo y Social</p>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" ng-model="model.affective_social_level_is_nervius" name="affective_level[]" ng-true-value="1" ng-false-value="0"> Nervioso
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" ng-model="model.affective_social_level_is_distracted" name="affective_level[]" ng-true-value="1" ng-false-value="0"> Distraido
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" ng-model="model.affective_social_level_is_sensitive" ng-true-value="1" ng-false-value="0"> Sensible
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" ng-model="model.affective_social_level_is_amable" ng-true-value="1" ng-false-value="0"> Amable
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" ng-model="model.affective_social_level_is_aggressive" ng-true-value="1" ng-false-value="0"> Agresivo
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" ng-model="model.affective_social_level_is_shy" ng-true-value="1" ng-false-value="0"> Tímido
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" ng-model="model.affective_social_level_is_friendly" ng-true-value="1" ng-false-value="0"> Amistoso
                                                            </label>
                                                        </div>
                                                        <label class="control-label" title="Otros" for="affective_social_level_other">Otros</label>
                                                        <textarea name="background" id="background" ng-model="model.affective_social_level_other" class="form-control no-resize" rows="3"></textarea>
                                                        <label class="control-label" title="Observaciones" for="affective_social_level_observation">Observaciones</label>
                                                        <textarea name="affective_social_level_observation" id="affective_social_level_observation" ng-model="model.affective_social_level_observation" class="form-control no-resize"></textarea>
                                                    </div>
                                                    <div class="col-md-4 col-xs-12">
                                                        <p class="section-inner">Nivel Verbal y Lenguaje</p>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" ng-model="model.language_level_is_silence" ng-true-value="1" ng-false-value="0"> Silencioso
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" ng-model="model.language_level_is_repetitive" ng-true-value="1" ng-false-value="0"> Repetitivo
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" ng-model="model.language_level_is_stutterer" ng-true-value="1" ng-false-value="0"> Tartamudez
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" ng-model="model.language_level_is_reluctant_answer" ng-true-value="1" ng-false-value="0"> Renuente a Contestar
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" ng-model="model.language_level_is_excessive_verbalization" ng-true-value="1" ng-false-value="0"> Verbalización Excesiva
                                                            </label>
                                                        </div>
                                                        <label>
                                                            Tiene dificultad en el lenguaje
                                                        </label>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" name="language_level_is_language_expresive" id="language_level_is_language_expresive" ng-model="model.language_level_is_language_expresive" ng-true-value="1" ng-false-value="0"> Expresivo
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" ng-model="model.language_level_is_language_comprexive" name="language_level_is_language_comprexive" id="language_level_is_language_comprexive" ng-true-value="1" ng-false-value="0"> Comprensivo
                                                            </label>
                                                        </div>
                                                        <!-- OTROS -->
                                                        <label class="control-label" title="Otros" for="language_level_other">Otros</label>
                                                        <textarea ng-disabled="saving" id="language_level_other" rows="3" class="form-control no-resize" name="language_level_other" ng-model="model.language_level_other"></textarea>
                                                        <!-- OBSERVACIONES -->
                                                        <label class="control-label" title="Observaciones" for="physical_level_observation">Observaciones</label>
                                                        <textarea ng-disabled="saving" id="language_level_observation" class="form-control no-resize" name="language_level_observation" ng-model="model.language_level_observation"></textarea>
                                                    </div>
                                                    <div class="col-md-4 col-xs-12">
                                                        <p class="section-inner">Nivel Físico</p>
                                                        <!-- Apariencia Personal -->
                                                        <label class="control-label" title="Apariencia personal" for="physical_level_personal_appearance">Apariencia Personal <small>(aseado, no aseado)</small></label>
                                                        <input ng-disabled="saving" id="physical_level_personal_appearance" type="text" class="form-control" name="physical_level_personal_appearance" ng-model="model.physical_level_personal_appearance">
                                                        <!-- Posturas Inadecuadas -->
                                                        <label class="control-label" title="Posturas Inadecuadas" for="physical_level_inadequate_postures">Posturas Inadecuadas</label>
                                                        <input ng-disabled="saving" id="physical_level_inadequate_postures" type="text" class="form-control" name="physical_level_inadequate_postures" ng-model="model.physical_level_inadequate_postures">
                                                        <!-- Malformaciones físicas -->
                                                        <label class="control-label" title="Malformaciones físicas" for="physical_level_physical_malformations">Malformaciones físicas</label>
                                                        <input ng-disabled="saving" id="physical_level_physical_malformations" type="text" class="form-control" name="physical_level_physical_malformations" ng-model="model.physical_level_physical_malformations">
                                                        <!-- NIÑO ZURDO O DERECHO -->
                                                        <label class="control-label" title="El Niño es Zurdo o derecho">El niño es</label>
                                                        <br>
                                                        <div class="radio">
                                                            <label>
                                                                <input type="radio" ng-model="model.physical_level_is_left_right_both_hand" name="physical_level_is_left_right_both_hand" id="physical_level_is_left_right_both_hand" value="derecho"> Derecho
                                                            </label>
                                                            <label>
                                                                <input type="radio" ng-model="model.physical_level_is_left_right_both_hand" name="physical_level_is_left_right_both_hand" id="physical_level_is_left_hand" value="izquierdo"> Izquierdo
                                                            </label>
                                                            <label>
                                                                <input type="radio" ng-model="model.physical_level_is_left_right_both_hand" name="physical_level_is_left_right_both_hand" id="physical_level_is_left_right_both_hand" value="ambidiestro"> Ambidiestro
                                                            </label>
                                                            <label>
                                                                <input type="radio" ng-model="model.physical_level_is_left_right_both_hand" name="physical_level_is_left_right_both_hand" id="physical_level_is_left_right_both_hand" value="indefinido"> No definido
                                                            </label>
                                                        </div>
                                                        <br>
                                                        <!-- OBSERVACIONES -->
                                                        <label class="control-label" title="Malformaciones físicas" for="physical_level_observation">Observaciones</label>
                                                        <textarea ng-disabled="saving" id="physical_level_observation" class="form-control no-resize" name="physical_level_observation" rows="3" ng-model="model.physical_level_observation"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </uib-tab>
                                        <uib-tab index="3" ng-if="existPatientUserSelected">
                                            <uib-tab-heading>
                                                <h5 title="Área Conductual"><b>Área Conductual</b></h5>
                                            </uib-tab-heading>
                                            <div class="tab-index">
                                                <div class="row">
                                                    <!-- ¿A qué hora duerme? Con quien? -->
                                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                                        <label class="control-label" title="¿A qué hora duerme? Con quien?" for="cunductual_level_time_sleep_who_sleep">¿A qué hora duerme? Con quien?</label>
                                                        <textarea name="cunductual_level_time_sleep_who_sleep" id="cunductual_level_time_sleep_who_sleep" class="form-control no-resize" ng-model="model.cunductual_level_time_sleep_who_sleep"></textarea>
                                                    </div>
                                                    <!-- ¿Necesita algo especial para dormir, que ? -->
                                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                                        <label class="control-label" title="¿Necesita algo especial para dormir, que ?" for="cunductual_needs_someone_what">¿Necesita algo especial para dormir, que ?</label>
                                                        <textarea name="cunductual_needs_someone_what" id="cunductual_needs_someone_what" class="form-control no-resize" ng-model="model.cunductual_needs_someone_what"></textarea>
                                                    </div>
                                                    <!-- ¿Despierta con frecuencia, cuantas? -->
                                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                                        <label class="control-label" title="¿Despierta con frecuencia, cuantas?" for="cunductual_wake_up_frecuence">¿Despierta con frecuencia, cuantas?</label>
                                                        <textarea name="cunductual_wake_up_frecuence" id="cunductual_wake_up_frecuence" class="form-control no-resize" ng-model="model.cunductual_wake_up_frecuence"></textarea>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <!-- ¿Acepta todo tipo de alimentos? Cuáles no? -->
                                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                                        <label class="control-label" title="¿Acepta todo tipo de alimentos? Cuáles no?" for="cunductual_accept_other_food_what">¿Acepta todo tipo de alimentos? Cuáles no?</label>
                                                        <textarea name="cunductual_accept_other_food_what" id="cunductual_accept_other_food_what" class="form-control no-resize" ng-model="model.cunductual_accept_other_food_what"></textarea>
                                                    </div>
                                                    <!-- ¿Tiene buen apetito? -->
                                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                                        <label class="control-label" title="¿Tiene buen apetito?" for="cunductual_has_appetite">¿Tiene buen apetito?</label>
                                                        <textarea name="cunductual_has_appetite" id="cunductual_has_appetite" class="form-control no-resize" ng-model="model.cunductual_has_appetite"></textarea>
                                                    </div>
                                                    <!-- Observaciones -->
                                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                                        <label class="control-label" title="Observaciones" for="cunductual_observation">Observaciones</label>
                                                        <textarea name="cunductual_observation" id="cunductual_observation" class="form-control no-resize" ng-model="model.cunductual_observation"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </uib-tab>
                                        <!-- Historia Escolar -->
                                        <uib-tab index="4" ng-if="existPatientUserSelected">
                                            <uib-tab-heading>
                                                <h5 title="Historia Escolar"><b>Historia Escolar</b></h5>
                                            </uib-tab-heading>
                                            <div class="tab-index">
                                                <div class="row">
                                                    <!-- ¿Está escolarizado/a? -->
                                                    <div class="col-md-4 col-sm-3 col-xs-12 form-group">
                                                        <label class="control-label" title="¿Está escolarizado/a?" for="cunductual_level_time_sleep_who_sleep">¿Está escolarizado/a?</label>
                                                        <textarea name="school_history_is_school" id="school_history_is_school" class="form-control no-resize" ng-model="model.school_history_is_school"></textarea>
                                                    </div>
                                                    <!-- ¿Grado escolar que cursa actualmente? -->
                                                    <div class="col-md-4 col-sm-3 col-xs-12 form-group">
                                                        <label class="control-label" title="¿Grado escolar que cursa actualmente?" for="school_history_current">¿Grado escolar que cursa actualmente?</label>
                                                        <textarea name="school_history_current" id="school_history_current" class="form-control no-resize" ng-model="model.school_history_current"></textarea>
                                                    </div>
                                                    <!-- ¿Le gusta ir a la escuela/colegio? -->
                                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                                        <label class="control-label" title="¿Le gusta ir a la escuela/colegio?" for="school_history_like_go_school">¿Le gusta ir a la escuela/colegio?</label>
                                                        <textarea name="school_history_like_go_school" id="school_history_like_go_school" class="form-control no-resize" ng-model="model.school_history_like_go_school"></textarea>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <!-- ¿Se generan quejas de él/ella constantemente?¿De qué tipo? -->
                                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                                        <label class="control-label" title="¿Se generan quejas de él/ella constantemente?¿De qué tipo?" for="school_history_generate_problems">¿Se generan quejas de él/ella constantemente?¿De qué tipo?</label>
                                                        <textarea name="school_history_generate_problems" id="school_history_generate_problems" class="form-control no-resize" ng-model="model.school_history_generate_problems"></textarea>
                                                    </div>
                                                    <!-- ¿Participa dentro de actividades colectivas en la escuela/colegio? -->
                                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                                        <label class="control-label" title="¿Participa dentro de actividades colectivas en la escuela/colegio?" for="school_history_participate_shcool">¿Participa dentro de actividades colectivas en la escuela/colegio?</label>
                                                        <textarea name="school_history_participate_shcool" id="school_history_participate_shcool" class="form-control no-resize" ng-model="model.school_history_participate_shcool"></textarea>
                                                    </div>
                                                    <!-- Observaciones -->
                                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                                        <label class="control-label" title="Observaciones" for="school_history_observation">Observaciones</label>
                                                        <textarea type="text" name="school_history_observation" id="school_history_observation" class="form-control no-resize" ng-model="model.school_history_observation"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </uib-tab>
                                        <!-- Historia Escolar -->
                                        <uib-tab index="5" ng-if="existPatientUserSelected">
                                            <uib-tab-heading>
                                                <h5 title="Consideraciones Médicas"><b>Consideraciones Médicas</b></h5>
                                            </uib-tab-heading>
                                            <div class="tab-index">
                                                <div class="row">
                                                    <!-- ¿Toma medicamentos?¿Cuáles? -->
                                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                                        <label class="control-label" title="¿Toma medicamentos?¿Cuáles?" for="medical_take_medicine_what">¿Toma medicamentos?¿Cuáles?</label>
                                                        <textarea name="medical_take_medicine_what" id="medical_take_medicine_what" class="form-control" ng-model="model.medical_take_medicine_what"></textarea>
                                                    </div>
                                                    <!-- ¿Convulsiona o ha Convulsionado? -->
                                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                                        <label class="control-label" title="¿Convulsiona o ha Convulsionado?" for="medical_convulsing_or_convulsed">¿Convulsiona o ha Convulsionado?</label>
                                                        <textarea type="text" name="medical_convulsing_or_convulsed" id="medical_convulsing_or_convulsed" class="form-control no-resize" ng-model="model.medical_convulsing_or_convulsed"></textarea>
                                                    </div>
                                                    <!-- ¿Ha tenido alguna cirugía?¿Cuál? -->
                                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                                        <label class="control-label" title="¿Ha tenido alguna cirugía?¿Cuál?" for="medical_has_had_surgery">¿Ha tenido alguna cirugía?¿Cuál?</label>
                                                        <textarea type="text" name="medical_has_had_surgery" id="medical_has_had_surgery" class="form-control no-resize" ng-model="model.medical_has_had_surgery"></textarea>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                     <!-- ¿Ha sufrido golpes en la cabeza? -->
                                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                                        <label class="control-label" title="¿Ha sufrido golpes en la cabeza?" for="medical_suffered_blows_head">¿Ha sufrido golpes en la cabeza?</label>
                                                        <textarea type="text" name="medical_suffered_blows_head" id="medical_suffered_blows_head" class="form-control no-resize" ng-model="model.medical_suffered_blows_head"></textarea>
                                                    </div>
                                                    <!-- ¿Ha sufrido golpes en la cabeza? -->
                                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                                        <label class="control-label" title="Alergías (medicinas,comidas, otros)" for="medical_hav_alergy">Alergías <small>(medicinas,comidas, otros)</small></label>
                                                        <textarea type="text" name="medical_hav_alergy" id="medical_hav_alergy" class="form-control no-resize" ng-model="model.medical_hav_alergy"></textarea>
                                                    </div>
                                                    <!-- ¿Ha sufrido golpes en la cabeza? -->
                                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                                        <label class="control-label" title="Cual considera que es el problema más grande del niño/a" for="medical_what_is_the_big_problem">Cual considera que es el problema más grande del niño/a</label>
                                                        <textarea type="text" name="medical_what_is_the_big_problem" id="medical_what_is_the_big_problem" class="form-control no-resize" ng-model="model.medical_what_is_the_big_problem"></textarea>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <!-- Observaciones -->
                                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                        <label class="control-label" title="Observaciones" for="medical_observation">Observaciones</label>
                                                        <textarea name="medical_observation" rows="2" class="form-control no-resize" id="medical_observation" ng-model="model.medical_observation"></textarea>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <!-- Establecimiento de la demanda -->
                                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                        <label class="control-label" title="Establecimiento de la demanda" for="demand_establishment">Establecimiento de la demanda</label>
                                                        <textarea name="demand_establishment" rows="2" class="form-control no-resize" id="demand_establishment" ng-model="model.demand_establishment"></textarea>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <!-- Establecimiento de la demanda -->
                                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                        <label class="control-label" title="Comportamiento del niño/a durante la entrevista" for="behaivor_child_interview">Comportamiento del niño/a durante la entrevista </label>
                                                        <textarea name="behaivor_child_interview" rows="2" class="form-control no-resize" id="behaivor_child_interview" ng-model="model.behaivor_child_interview"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </uib-tab>
                                    </uib-tabset>
                                </div>
                                <div class="row" ng-if="existError || hasMessage">
                                    <div class="alert col-md-12 col-xs-12 col-sm-12" role="alert" ng-class="'alert-' + (messages.type || 'warning')">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <p ng-if="hasMessage">{{messages.title}}</p>
                                        <ul ng-if="messages.details.length">
                                            <li ng-repeat="ms in messages.details">{{ms}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Nav tabs -->
                            <div class="clearfix "></div>
                            <div class="ln_solid " ng-if="!loading "></div>
                            <div class="form-group " ng-if="!loading ">
                                <button type="submit" class="btn btn-primary" ng-disabled=" saving || !existPatientUserSelected" ng-click="save(saveForm)">
                                    <span ng-if="!saving"><i class="fa fa-save"></i> Guardar</span>
                                    <span ng-if="saving"> <i class="fa fa-spinner fa-spin" ng-if="saving"></i> Guardando...</span>
                                </button>
                                <button type="submit" class="btn btn-default" ng-disabled=" saving || !existPatientUserSelected" ng-click="saveAndClose(saveForm)">
                                    <span ng-if="!saving"><i class="fa fa-save"></i> Guardar y cerrar</span>
                                    <span ng-if="saving"> <i class="fa fa-spinner fa-spin" ng-if="saving"></i> Guardando...</span>
                                </button>
                                <a class="btn btn-link" ui-sref="root.psychoAssessment">Cancelar</a>
                            </div>
                        </form>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>