<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Buscar </h4>
</div>
<div class="modal-body">
    <div class="panel panel-default">
        <div class="panel-heading"><b>Seleccione un criterio de busqueda</b></div>
        <div class="panel-body">
            <div class="col-md-3">
                <select class="form-control change-option" ng-model="criteria" ng-change="model.queryCriteria = ''">
                    <option value="1">Cédula</option>
                    <option value="0">Nombres</option>
                </select>
            </div>
            <div class="col-md-6">
                <div class="col-md-6 no-padding place-input">
                    <input id="query-criteria-dni" type="text" maxlength="10" minlength="10" ng-model="model.queryCriteria" class="form-control" placeholder="0999999999" numbers-only> 
                </div>
            </div>
            <div class="col-md-2 col-md-offset-1">
                <button ng-disabled="!model.queryCriteria" type="button" class="btn btn-default" ng-click="search()"><i class="fa fa-search"></i> Buscar</button>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Persona</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="value in modalContent">
                <td>{{value.last_name}} {{value.name}}</td>
                <td>
                    <button class="btn btn-default btn-xs" ng-click="ok(value)"><i class="fa fa-check"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="clear:both"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$dismiss()">Cancelar</button>
</div>