<h4 class="text-center" ng-if="loading">
    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    <span class="sr-only">Cargando...</span>
</h4>
<div class="row title_count" ng-if="!loading">
    <h2 class="section_dashboard">Estadisticas</h2>
    <div class="animated flipInY col-lg-3 col-md-4 col-sm-4 col-xs-6">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-users"></i></div>
            <div class="count">{{totalUsersToday || '0'}}</div>
            <h3>Usuario(s)</h3>
            <p>Que se han ingresado Ficha de Inscripción hoy.</p>
        </div>
    </div>
    
    <div class="animated flipInY col-lg-3 col-md-4 col-sm-4 col-xs-6 clickable" ng-click="gotRequest()">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-file-text"></i></div>
            <div class="count">{{requestsForView || '0'}}</div>
            <h3>Personas</h3>
            <p>Han Registrado una solicitud de Preinscripción.</p>
        </div>
    </div>
    
    <div class="animated flipInY col-lg-3 col-md-4 col-sm-4 col-xs-6 clickable"  ng-click="gotRequest()">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-calendar"></i></div>
            <div class="count">{{totalDates || '0'}}</div>
            <h3>Citas</h3>
            <p>Esperan ser atendidas por el encargado de Recepción.</p>
        </div>
    </div>
</div>
<div class="row" ng-if="!loading">
    <h2 class="section_dashboard">Formatos de Documentos Descargables</h2>
    <!-- proceso de inscripcion -->
    <downloadable-doc ng-click="downloadRegistrationForm()" count="3" icon="fa-file-text-o" title="P. Inscripción" description="Ficha de inscripción y otros." />
    <!-- Bailoterapia -->
    <downloadable-doc ng-click="downloadBailoterapiaForm()" count="9" icon="fa-slideshare" title="Bailoterapia" description="Entrevista inicial y otros." />
    <!-- Deportes -->
    <downloadable-doc ng-click="downloadDeportesForm()" count="9" icon="fa-futbol-o" title="Deportes" description="Entrevista inicial y otros." />
    <!-- Hidroterapia -->
    <downloadable-doc ng-click="downloadHidroterapiaForm()" count="9" icon="fa-life-ring" title="Hidroterapia" description="Entrevista inicial y otros." />
    <!-- Horticultura -->
    <downloadable-doc ng-click="downloadHorticulturaForm()" count="9" icon="fa-tree" title="Horticultura" description="Entrevista inicial y otros." />
    <!-- Lenguaje -->
    <downloadable-doc ng-click="downloadLenguajeForm()" count="9" icon="fa-language" title="Lenguaje" description="Entrevista inicial y otros." />
    <!-- Mecanoterapia -->
    <downloadable-doc ng-click="downloadMecanoterapiaForm()" count="9" icon="fa-circle-o" title="Mecanoterapia" description="Entrevista inicial y otros." />
    <!-- Musica -->
    <downloadable-doc ng-click="downloadMusicoterapiaForm()" count="9" icon="fa-music" title="Musicoterapia" description="Entrevista inicial y otros." />
    <!-- Ocupacional -->
    <downloadable-doc ng-click="downloadOcupacionalForm()" count="9" icon="fa-university" title="Ocupacional" description="Entrevista inicial y otros." />
    <!-- Psicologia -->
    <downloadable-doc ng-click="downloadPsicologiaForm()" count="9" icon="fa-thumbs-o-up" title="Psicología" description="Entrevista inicial y otros." />
    <!-- Recepcion -->
    <downloadable-doc ng-click="downloadRecepcionForm()" count="5" icon="fa-folder-o" title="Recepción" description="Entrevista inicial y otros." />
</div>