<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Tipos de Identificación</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <h4 class="text-center" ng-if="loading">
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                    <span class="sr-only">Cargando...</span>
                </h4>
                <uib-tabset active="0" ng-if="!loading">
                    <uib-tab index="0">
                        <uib-tab-heading>
                            <h5><b><i class="fa fa-list"></i> Listado</b></h5>
                        </uib-tab-heading>
                        <div class="tab-index">
                            <div class="row" ng-if="existError || hasMessage">
                                <div class="alert col-md-12 col-xs-12 col-sm-12" role="alert" ng-class="'alert-' + (messages.type || 'warning')">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <ul ng-if="messages.details.length > 0">
                                        <li ng-repeat="(key, value) in messages.details">{{value}}</li>
                                    </ul>
                                    <p ng-if="hasMessage">{{messages.title}}</p>
                                </div>
                            </div>
                            <table datatable="ng" dt-options="dtOptions" id="idenType-list" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Código</th>
                                        <th>F. Creación/Modificación</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="idenType in identiTypes">
                                        <td>{{idenType.name | capitalize:'oneLetter'}}</td>
                                        <td>{{idenType.code | capitalize:'oneLetter'}}</td>
                                        <td>{{idenType.created_at | filterTimestamp }} - {{idenType.updated_at | filterTimestamp }}</td>
                                        <td>
                                            <a ng-hide="idenType.$deleting" ui-sref="root.identitypes.edit({idenTypeId:idenType.id})" class="btn btn-default btn-sm" type="button" title="Editar Tipo de Identificación"> <i class="fa fa-pencil"></i> Editar</a>
                                            <a ng-hide="idenType.$deleting" ng-click="delete(idenType.id)" class="btn btn-link btn-sm" type="button" title="Eliminar Tipo de Identificación"> <i class="fa fa-trash" aria-hidden="true"></i> Eliminar</a>
                                            <p ng-show="idenType.$deleting"><i class="fa fa-spinner fa-spin fa-fw"></i></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-tab>
                    <uib-tab index="1">
                        <uib-tab-heading>
                            <a ui-sref="root.identitypes.create" title="Crear Tipo de Identificación"><h5><b><i class="fa fa-plus"></i> Crear</b></h5></a>
                        </uib-tab-heading>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>